h1 {
  text-align: center;
  font-family: "Verdana", "Arial", serif;
}

.bandeau{
  height: 130px;
  width: 100%;
  display: table;
  background-color: #BBAE98;
  padding-top: 0;
  border-bottom: 1px solid black;
  margin-top: -5px;
}

.bandeau h1 {
  display: table-cell; vertical-align: middle;
}

#nocturne-tooltip {
  outline: none;
}

#nocturne-tooltip:hover {
  text-decoration: none;
  cursor: help;
}

#nocturne-tooltip span {
  z-index: 10;
  display: none;
  padding-top: -40px;
  margin-left: 15px;
  width: 160px;
  border-radius: 4px;
}

#nocturne-tooltip:hover span {
  display: inline;
  position: absolute;
  color: #fffff0;
  border: 1.4px solid black;
  background-color: #222222;
}

.callout {
  z-index: 20;
  position: relative;
  top: 6px;
  border: 0;
  left: -85px;
}

#map {
  width: 390px;
  height: 210px;
  margin-bottom: 10px;
  border: 1px solid white;
}

#navbar-home-link {
  padding: 6px;
  font-size: 2.1rem;
}

.carousel-img {
  width: 100%;
  height: 500px !important;
  margin: 0 auto;
}

.articles {
  width: 100%;
  text-align: center;
}

.no-articles {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}