{% extends "::base.html.twig" %}

{% block header %}
    <div class="col-sm-12 bandeau">
        <h1>À 4 Mains</h1> {#A REFAIRE#}
    </div>
{% endblock %}

{% block nav_bar %}
    {#A FAIRE#}
{% endblock %}