body {
  background-image: url("../images/site/background.jpg");
  background-size: 100%;
  margin: 0;
}

h1, h2 {
  text-align: center;
  font-family: "Verdana", "Arial", serif;
}

.bandeau{
  width: 100%;
  display: table;
  background-color: #C4C3C8;
  padding-top: 0;
  border-bottom: 1px solid black;
  margin-top: -5px;
}


#bandeau_img {
  width: 100%;
}

#nocturne-tooltip {
  outline: none;
}

#nocturne-tooltip:hover {
  text-decoration: none;
  cursor: help;
}

#nocturne-tooltip span {
  z-index: 10;
  display: none;
  padding-top: -40px;
  margin-left: 15px;
  width: 160px;
  border-radius: 4px;
}

#nocturne-tooltip:hover span {
  display: inline;
  position: absolute;
  color: #fffff0;
  border: 1.4px solid black;
  background-color: #222222;
}

.callout {
  z-index: 20;
  position: relative;
  top: 6px;
  border: 0;
  left: -85px;
}

#map {
  width: 390px;
  height: 210px;
  border: 1px solid white;
  margin: auto auto 10px auto;
}

#navbar-home-link {
  padding: 6px;
  font-size: 2.1rem;
}

.carousel-img {
  max-width: 100%;
  max-height: 100%;
  height: 100% !important;
  margin: auto auto;
}

.carousel-inner .item {
  background-color: rgba(0, 0, 0, 0.95);
  height: 43rem;
}

#myCarousel {
  -webkit-box-shadow: 0 0 40px black;
  box-shadow: 0 0 40px black;
}

.article-content-div {
  position: relative;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  height: 33em;
}

.prix-etat-div {
  position: absolute;
  left: 1em;
  bottom: 0;
}

.articles {
  width: 100%;
  text-align: center;
}

.no-articles {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.portfolio_img {
  width: 100%;
  height: 16em;
}

.article_view_prix {
  color: dodgerblue;
}

.article_dispo {
  color: green;
}

.article_rupture {
  color: orangered;
}

.view_title {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
}

.login-block {
  width: 40%;
  margin: auto;
}

.acceuil-div {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5rem 3rem 3rem 3rem;
  margin-top: -2em;
  margin-bottom: -2em;
  text-align: center;
  color: #f0f0f0;
}

.text-pres {
    font-size: 2rem;
}

.carousel-caption p {
  padding-bottom: 8px !important;
}

.acceuil-div p {
  padding-bottom: 2rem;
}

.carousel-categorie-home {
  color: #FFDF32;
  font-size: 18px;
  padding: 0 0 1rem 0;
  margin: 0;
}

.important-word {
    color: #ffdf32;
}

.logo_acceuil {
    margin-top: -40px;
    width: 200px;
}

.separateur_acceuil {
  margin-top: -20px;
  width: 100px;
}

.login-div {
  margin-top: -2rem;
  margin-bottom: -1.2rem !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.color-login {
  color: #4285F4 !important;
}

.color-login-btn{
  color: #2BBBAD;
}

.well {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important;
}

.color-submit-btn {
  color: #00D054;
}