<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>A 4 Mains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/platformbundle/Resources/public/css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="col-sm-12 bandeau">
      <h1>À 4 Mains</h1>
    </div>
  </body>
</html>
